html, body {
	margin: 0;
}
.container {
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
}
.page {
	min-height: 500px;
}
.row {
	margin-bottom: 10px
}
.clear-fix:after {
	display: table;
	clear: both;
	content: '';
	width: 100%;
}
.item {
	width: 19%;
	height: 300px;
	margin-left: .5%;
	margin-right: .5%;
	float: left;
	text-align: center;
	border: 3px solid #fff;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}

.active {
	border: 3px solid red;
}